* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

/* Utilities */


.big-conteiner {
    width: 1200px;
    margin: 0 auto;
}

.small-conteiner {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* Generics Bottoni */

.btn {
    background-color: rgb(0,97,254);
    padding: 5px 15px;
    display: inline-block;
}

.btn{
    color: white;
    line-height: 1;
}

.btn:hover {
    filter: brightness(1.2);
    color: white;
    cursor: pointer;
}

/* Generics Testo */

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.f-bold{
    font-weight: bold;
}

.small-conteiner h1{
    font-size: 40px;
}

.gray {
    color: lightgrey;
}

.f-size {
    font-size: 12px;
    font-weight: 600;
}

li {
    list-style-type: none;
}

.l-h-30{
    line-height: 30px;
}

hr {
    border-color: lightgrey;
}

.color-blue {
    color: blue
    ;
}

/* Generics Colonne */

.col {
    float: left;
    min-height: 400px;
    width: calc(33% - 40px);
}

.col-middle {
    margin: 0 60px;
}

/* Content */

/* Header */

.display-fix {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 1px 2px grey;
}

.title img {
    vertical-align: middle;
}

.title {
    margin: 0 15px;
    float: left;
    width: calc(50% - 30px);
    position: relative;
}

.nav-head {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 30px;
    vertical-align: middle;
}

.head-right {
    position: absolute;
    right: 0;
}

nav > a {
    padding: 0 25px;
    color: black;
}

/* Jumbotron */

/* Layout */

#jumbotron {
    background-color: rgb(180,208,231);
    height: 650px;
    margin-bottom: 200px;
}

#w-40, #w-60 {
    margin-top: 30px;
}

#w-40 {
    float: left;
    width: 40%;
    padding-right: 100px;
}

#w-60 {
    float: left;
    width: 60%;
}

/* Jumbotron Testo */

#big-title {
    padding-top: 60px;
}

#big-title h1 {
    font-size: 75px;
}

#w-40 p {
    margin-bottom: 20px;
}

#w-40 .btn {
    margin-bottom: 10px;
}

#arrow {
    display: inline-block;
    margin-top: 40px;
    font-size: 30px;
}

/* Jumbotron Immagine */

#w-60 img {
    height: 100%;
    width: 100%;
}

/* Main */

/* Tariffa Dropbox */

#period-payment {
    margin: 80px 0 40px 0;
}

.circle-point {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.circle-point:hover {
    height: 15px;
    width: 15px;
    border: 4px solid blue;
    cursor: pointer;
}

#payment-month {
   margin-right: 30px;
}

/* Tariffa Dropbox Col */

.icon {
    height: 40px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    line-height: 40px;
}

.col-info {
    margin: 30px;
    padding: 0 5px;
}

.pack-price h2 {
    line-height: 50px;
}

.pack-info {
    margin: 30px 0;
}

.pack-info span {
    margin: 5px 0;
    display: block;
}

nav span {
    line-height: 40px;
}

.btn-col {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 20px;
}

.f-size a {
    text-decoration: underline;
    color: rgb(0,97,254);
}

.col hr {
    width: 40px;
}

.col-info .gray {
    font-size: 12px;
}

.col h3, .col li {
    margin: 20px 30px;
    line-height: 15px;
}

.border-top{
    border: 1px solid lightgrey;
    border-bottom: hidden;
}

.border-bottom {
    border: 1px solid lightgrey;
    border-top: hidden;
}

/* Contatta Ufficio Vendita */

.last-row {
    height: 200px;
    margin: 50px auto;
    border: 1px solid lightgrey;
}

.w-70 {
    line-height: 40px;
    vertical-align: middle;
    float: left;
    max-width: 70%;
}

.w-30 {
    float: left;
    max-width: 30%;
}

.w-30 .btn {
    cursor: pointer;
    margin: 30px;
    padding: 5px 5px;
}

/* Entra in contatto con un partner Dropbox */

.dropbox-partner {
    margin: 150px auto;
}

.w-50 {
    float: left;
    height: 400px;
    width: 50%;
}

.w-50 img {
    height: 100%;
    width: 100%;
}

.w-50-text {
    padding: 20px 40px;
}

.w-50-text p {
    margin: 20px 0;
    font-size: 14px;
}

.w-50-text span {
    border: 1px solid black;
    padding: 5px 15px;
}

.w-50-text span:hover {
    cursor: pointer;
    background-color: rgb(0,97,254);
}

/* Esegui piu' operazioni con dropbox business */

.dropbox-operation .col {
    margin: 20px;
}

.dropbox-operation .col, .dropbox-operation .col{
    border: hidden;
}

.dropbox-operation img {
    width: 100%;
    height: 50%;
}

.dropbox-operation h2 {
    padding-bottom: 30px;
}

.dropbox-operation p {
    font-size: 13px;
}

/* Team-partnership */

.team-partner {
    margin-top: 250px;
    height: 900px;
}

.team-partner a {
    display: inline-block;
    text-decoration: underline;
    color: rgb(0,97,254);
    padding: 30px 0;
}

.w-25 {
    float: left;
    width: 25%;
    height: 400px;
}

.w-12 {
    float: left;
    width: 50%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    filter: invert(100%);
    transition: box-shadow 0.3s ease 0s;
}

.w-12:hover {
    box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.w-60-partner {
    float: left;
    width: 50%;
    height: 400px;
}

.w-60-partner hr {
    width: 130px;
}

.partner-designit {
    padding: 40px 50px;
}

.partner-designit img {
    height: 20%;
    width: 20%;
    margin-bottom: 30px;
}

.partner-designit p, .partner-designit address {
    margin: 40px auto;
    font-weight: 600;
}

address {
    font-style: normal;
    font-weight: 600;
}

.star-test {
    height: 300px;
}

.bg-green {
    background-color: rgb(93,44,100);
    background-image: url(../img/designit.svg);
}

.bg-brown {
    background-color: rgb(158,247,212);
    background-image: url(../img/arizona_state_university.svg);
}

.bg-light-blue {
    background-color:rgb(255,108,49);
    background-image: url(../img/university_of_florida.svg);
}

.bg-light-orange {
    background-color: rgb(0,227,227);
    background-image: url(../img/topps.svg);
}

.bg-light-grey {
    background-color: rgb(245,245,245);
}

.bg-orange {
    background-color: rgb(42,255,224);
    background-image: url(../img/world_bicycle_relief.svg);
}

.bg-heavenly {
    background-color: rgb(75,47,24);
    background-image: url(../img/hearst_corp.svg);
}

.bg-blue {
    background-color: rgb(242,219,126);
    background-image: url(../img/lonely_planet.svg);
}

.bg-yellow {
    background-color: rgb(0,39,207);
    background-image: url(../img/clear_channel.svg);
}

.start-test {
    float: left;
    height: 300px;
    width: 100%;
    background-color: rgb(180,208,231);
}

.start-test .small-conteiner{
    margin: 100px auto;
}

.start-test .small-conteiner h1 {
    float: left;
    width: 70%;
    color:rgb(97,9,44);
}

.start-test .btn {
    float: left;
    width: 30%;
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 30px;
    top: 0;
    right: 0;
}

/* Domande Frequenti */

.requests{
    margin: 100px auto;
    line-height: 100px;
    position: relative;
}

.requests h1 {
    margin-bottom: 50px;
}

.requests span {
    font-size: 14px;
    font-weight: bolder;
}

.arrow {
    position: absolute;
    right: 50px;
}

/* Footer */

footer {
    background-color: rgb(0, 0, 0);
    height: 550px;
}

.w-20-foot {
    height: 300px;
    margin: 50px auto;
    float: left;
    width: 20%;
    color: white;
    line-height: 50px;
}

.w-20-foot li{
    line-height: 30px;
}

.w-20-foot a {
    color: white;
    text-decoration: none;
}

footer hr {
    background-color: white;
    margin: 100px 0 50px 0;
}

footer span {
    color: white;
}