* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */


.big-conteiner {
    width: 1200px;
    margin: 0 auto;
}

.small-conteiner {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.btn {
    background-color: rgb(0,97,254);
    padding: 5px 15px;
    display: inline-block;
}

.btn{
    color: white;
    line-height: 1;
}

.btn:hover {
    color: black;
}

.f-bold{
    font-weight: bold;
}

.small-conteiner h1{
    font-size: 45px;
}

/* Content */

/* Header */

.display-fix {
    height: 80px;
}

.title {
    margin: 0 15px;
    float: left;
    width: calc(50% - 30px);
    line-height: 80px;
}

.nav-head {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 30px;
    vertical-align: middle;
}

.head-right {
    text-align: right;
}

nav > a {
    padding: 0 25px;
    color: black;
}

/* Jumbotron */

#jumbotron {
    background-color: rgb(180,208,231);
    height: 650px;
    margin-bottom: 200px;
}

#big-title {
    padding-top: 60px;
}

#big-title h1 {
    font-size: 75px;
}

#wd-40, #wd-60 {
    margin-top: 30px;
}

#wd-40 {
    float: left;
    width: 40%;
    padding-right: 100px;
}

#wd-40 p {
    margin-bottom: 20px;
}

#wd-40 .btn {
    margin-bottom: 10px;
}

#arrow {
    display: inline-block;
    margin-top: 40px;
    font-size: 30px;
}

#wd-60 {
    float: left;
    width: 60%;
}

#wd-60 img {
    height: 100%;
    width: 100%;
}

/* Main */

/* Tariffa Dropbox */

#period-payment {
    margin: 80px 0 40px 0;
}

.circle-point {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 50%;
}

#payment-month {
   margin-right: 30px;
}

/* Tariffa Dropbox Col */

.col {
    float: left;
    height: 300px;
    border: 1px solid;
    width: calc(33% - 59px);
}

.col-middle {
    margin: 0 60px;
}

/* Footer */

